@import "reset";
@import "normalize";

@import url("https://fonts.googleapis.com/css?family=Muli:400,700,800,900&display=swap");
// TODO reorganize the css to be a little more manageable 
body {
  font-family: "Muli", sans-serif;
  font-weight: 700;
}
.bg-1{
  background-image: url('/img/bg-1.svg');
  height: 1597px;
  width: 1622px;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -350px;
  right: -650px;
  z-index: -2;
  transition: transform 0ms ease;
}
h2{
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 30px;
}
.wrapper{
  max-width: 1120px;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
nav{
  padding: 30px 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255, 0);
  transition: padding 300ms ease,
              border 300ms ease,
              background-color 200ms ease;
  &.shrink{
    padding: 0;
    background-color: #fff;
    border-color: #e4e4e4;
    // box-shadow: 0 10px 10px rgba(0,0,0,.05);
  }
  &.shown{
    transition: background-color 0ms ease;
  }
  .button-wrap{
    float: right;
    position: relative;
    height: 32px;
    width: 37px;
  }
  button.menu{
    display: none;
    float: right;
    height: 32px;
    width: 37px;
    background-image: url('/img/menu.svg');
    border: 0;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    transition: width 200ms ease;
    &.close{
      background-image: url('/img/menu-closed.svg');
      background-size: 20px;
    }
  }
  img.logo{
    transition: transform 200ms ease;
    &:hover{
      transform: rotate(-10deg);
    }
  }
  ul.navigation{
    float: right;
    margin-top: 8px;
    li{
      display: inline-block;
      margin: 0 10px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #000;
        text-decoration: none;
        position: relative;
        z-index: 0;
        transition: color 150ms ease;
        padding: 5px 8px;
        &:after{
          content: '';
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          height: 100%;
          width: 0;
          background-color: #000;
          transition: width 200ms ease;
          transform: skewX(-10deg);
        }
        &:hover{
          color: #fff;
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
}
.nav-spacing{
  height: 113px;
  transition: height 200ms ease;
  &.shrink{
    height: 74px;
  }
}
.header-section{
  overflow: hidden;
}
header{
  .wrapper{
    position: relative;
    padding-top: 0px;
    height: 400px;
    .animated{
      position: absolute;
      top: 0;
      left: 20px;
      height: 400px;
      display: flex;
      align-items: center;
      .cta{
        width: 100%;
      }
    }
  }
  .cta{
    h1{
      position: relative;
      font-weight: 800;
      .name{
        font-size: 144px;
      }
      small{
        position: absolute;
        top: 14px;
        left: 10px;
        font-size: 32px;
        &.secondary{
          font-size: 24px;
          top: auto;
          bottom: -13px;
        }
      }
    }
    small{
      font-size: 32px;
      &.secondary{
        font-size: 24px;
        top: auto;
        bottom: -13px;
      }
    }
    button{
      border: 0;
      outline: 0;
      margin-left: 4px;
      padding-right: 25px;
      margin-top: 15px;
      // padding-top: 5px;
      background-color: transparent;
      cursor: pointer;
      background-image: url('/img/arrow.svg');
      background-repeat: no-repeat;
      background-position: 95% center;
      transition: background-position 200ms ease;
      font-size: 18px;
      font-weight: 700;
      &.back{
        display: block;
        padding-left: 25px;
        padding-right: 0;
        background-image: url('/img/arrow-l.svg');
        background-position: 5% center;
        &:hover{
          background-position: 0% center;
        }
      }
      &:hover{
        background-position: 100% center;
      }
    }
  }
}
.project-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease;
  padding: 29px;
  box-sizing: border-box;
  &.shown{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    .content{
      transform: translateY(0) scale(1);
    }
  }
  &.hidden{
    opacity: 0;
    .content{
      transform: translateY(50%) scale(.6);
    }
  }
  .content{
    max-width: 800px;
    padding: 29px;
    background-color: #fff;
    transform: translateY(50%) scale(.6);
    transition: transform 200ms ease;
    position: relative;
    .modal-content{
      max-height: 400px;
      overflow-y: auto;
    }
    h3{
      font-weight: 800;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 20px;
    }
    p.testimonial{
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: #676767;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      background-image: url('/img/quotes.svg');
      background-repeat: no-repeat;
      &:not(:last-child){
        margin-bottom: 20px;
      }
      span{
        display: block;
        margin-top: 15px;
        color: #000;
      }
    }
    .close{
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
      transition: color ease 200ms;
      line-height: 24px;
      width: 31px;
      height: 31px;
      padding: 0;
      &:hover{
        color: #676767;
      }
    }
    .btn{
      display: inline-block;
      padding: 17px 20px;
      padding-left: 67px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-radius: 2px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      border: 0;
      outline: none;
      cursor: pointer;
      font-weight: 600;
      max-height: 50px;
      &.corner{
        position: absolute;
        right: 29px;
        bottom: -25px;
      }
      span{
        position: relative;
        z-index: 4;
        transition: color 200ms ease;
      }
      
      .icon{
        z-index: 3;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        transition: width 200ms ease;
        &.live{
          background: url('/img/icons/www.svg') 15px no-repeat, linear-gradient(225deg, #FC9F32 0%, #ED5323 98%);
        }
      }
      &:hover{
        span{
          color: #fff;
        }
        .icon{
          width: 100%;
        }
      }
    }
  }
}
.projects-section{
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 25px;
    margin-top: 70px;
    .project{
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      cursor: pointer;
      .project-head{
        height: 189px;
        width: calc(100% - 50px);
        margin: auto;
        margin-top: -25px;
        position: relative;
        margin-bottom: 25px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 200ms ease;
        .meta{
          position: absolute;
          bottom: -15px;
          left: 12px; 
          .meta-info{
            display: inline-block;
            padding: 5px 14px;
            color: #fff;
            font-weight: 800;
            font-size: 10px;
            line-height: 13px;
            text-transform: uppercase;
            border-radius: 2px;
            margin-right: 5px;
            margin-bottom: 5px;
            transition: transform 200ms ease;
            &.orange{
              background: linear-gradient(270deg, #ED5323 0%, #FC9F32 100%);
              box-shadow: 0px 4px 6px rgba(237, 83, 35, 0.295);
            }
            &.purple{
              background: linear-gradient(270deg, #C242E2 0%, #8B32FC 100%);
              box-shadow: 0px 4px 6px rgba(137, 50, 252, 0.295);
            }
          }
        }
      }
      .text{
        padding: 25px;
        padding-top: 0;
        h3{
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
        }
        p.release-date{
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          color: #676767;
        }
      }
      &:hover{
        .project-head{
          transform: scale(1.05);
          .meta{
            .meta-info{
              &:nth-child(1){
                transform: rotate(5deg);
              }
              &:nth-child(2){
                transform: rotate(-7deg);
              }
              &:nth-child(3){
                transform: rotate(7deg);
              }
              &:nth-child(4){
                transform: rotate(-5deg);
              }
              &:nth-child(5){
                transform: rotate(3deg);
              }
              &:nth-child(6){
                transform: rotate(5deg);
              }
            }
          }
        }
      }
    }
  }
}
.experience-section{
  padding-top: 100px;
  h2{
    padding-bottom: 30px;
  }
  .experiences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 25px;
    .experience{
      background: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px;
      padding-bottom: 13px;
      position: relative;
      h3{
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
      }
      .exp-level{
        background: #E9E9E9;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        // overflow: hidden;
        position: absolute;
        top: -14px;
        width: calc(100% - 50px);
        height: 27px;
        font-weight: 800;
        font-size: 10px;
        line-height: 13px;

        color: #FFFFFF;
        .level{
          border-radius: 2px;
          height: 100%;
          width: 65%;
          position: absolute;
          padding: 7px 14px;
          text-transform: uppercase;
          box-sizing: border-box;
          &.orange{
            background: linear-gradient(270deg, #ED5323 0%, #FC9F32 100%);
            box-shadow: 0px 4px 6px rgba(237, 83, 35, 0.295);
          }
          &.purple{
            background: linear-gradient(270deg, #C242E2 0%, #8B32FC 100%);
            box-shadow: 0px 4px 6px rgba(137, 50, 252, 0.295);
          }
        }
      }
    }
  }
}
.reachout-section{
  padding-top: 100px;
  h2{
    margin-bottom: 70px;
  }
  .contact-form{
    padding: 46px 29px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    .hot-links{
      position: absolute;
      top: -25px;
      left: 29px;
      a.btn{
        margin-right: 24px;
      }
    }
    .btn{
      display: inline-block;
      padding: 17px 20px;
      padding-left: 67px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      border-radius: 2px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      position: relative;
      border: 0;
      outline: none;
      cursor: pointer;
      font-weight: 600;
      max-height: 50px;
      span{
        position: relative;
        z-index: 4;
        transition: color 200ms ease;

      }
      
      .icon{
        z-index: 3;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        transition: width 200ms ease;
        &.twitter{
          background: url('/img/icons/twitter.svg') 14px no-repeat, linear-gradient(225deg, #C242E2 0%, #8B32FC 98%);;
        }
        &.mail{
          background: url('/img/icons/mail.svg') 15px no-repeat, linear-gradient(225deg, #FC9F32 0%, #ED5323 98%);
        }
        &.linkedin{
          background: url('/img/icons/linkedin.svg') 15px no-repeat, linear-gradient(225deg, #FC9F32 0%, #ED5323 98%);
        }
        &.send{
          background: url('/img/icons/send.svg')15px no-repeat, linear-gradient(225deg, #FC9F32 0%, #ED5323 98%);
        }
      }
      &:hover{
        span{
          color: #fff;
        }
        .icon{
          width: 100%;
        }
      }
    }
    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 24px;
      grid-template-areas: 
      "it ie" "te te";
    }
    button[type=submit]{
      position: absolute;
      bottom: -25px;
      right: 29px;
    }
    textarea{
      grid-area: te;
      resize: none;
      
    }
    input[type=text], input[type=email], textarea{
      display: block;
      padding: 20px;
      background: #F4F4F4;
      border-radius: 2px;
      color: #000;
      font-weight: 600;
      border: 0;
      outline: none;
      &::placeholder{
        color: #a9a9a9 !important;
      }
    }
  }
}
footer{
  padding: 93px;
  text-align: center;
}
.bgs{
  background: url('/img/bg-1.svg') cover no-repeat, url('/img/foot-bg.svg') cover;
}
@media(max-width: 800px){
  header{
    .cta{
      // transform: scale(.8);
      h1{
        display: block;
        width: 100%;
        padding-right: 20px;
        small{
          top: 4px;
          left: 0;
          font-size: 14px;
        }
        .name{
          font-size: 60px;
        }
        .secondary{
          font-size: 18px !important;
          bottom: -30px !important;
        }
        margin-bottom: 40px;
      }
      button{ 
        padding-left: 0;
        margin-left: initial;
      }
      .secondary{
        font-size: 18px !important;
      }
    }
  }
  h2{
    font-size: 48px;
    margin-bottom: 10px;
  }
  nav{
    &.shown{
      background-color: #fff;
      height: 100vh;
      padding: 0;
    }
    img.logo{
      position: relative;
      z-index: 1001;
    }
    ul.navigation{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      text-align: center;
      background-color: #fff;
      &.hidden{
        display: none;
      }
      li{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        a{
          font-size: 28px;
        }
      }
    }
    button.menu{
      position: relative;
      z-index: 1001;
      display: block !important;
    }
  }
  .projects-section{
    .projects{
      grid-template-columns: 1fr 1fr;
    }
  }
  .reachout-section{
    h2{
      margin-bottom: 50px;
    }
    .contact-form{
      .btn{
        &.send{
          right: 50%;
          transform: translateX(50%);
          width: calc(100% - 48px);
        }
        &:not(.send){
          height: 50px;
          width: 50px;
          padding: 0;
          span{
            display: none;
          }
        }
      }
      .grid{
        display: block;
        input[type=text], input[type=email], textarea{
          width: 100%;
          box-sizing: border-box;
          &:not(:last-child){
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}
@media(max-width: 650px){
  .projects-section{
    .projects{
      grid-template-columns: 1fr;
    }
  }
  .experience-section{
    .experiences{
      grid-template-columns: 1fr;
      .experience{
        &:nth-child(odd){
          .exp-level .level{
            background: linear-gradient(270deg, #ED5323 0%, #FC9F32 100%) !important;
          }
        }
        &:nth-child(even){
          .exp-level .level{
            background: linear-gradient(270deg, #C242E2 0%, #8B32FC 100%) !important;
          }
        }
      }
    }
  }
}